/* Adds a background to the navigation bar */
.topnav {
    background-color: #C2948A;
    overflow: hidden;
}

/*Style the links inside the navigation bar */
.topnav a {
    float: center;
    color: #000000;
    text-align: center;
    padding: 50px 150px;
    text-decoration: none;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Styles the headings */

h1 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: center;
    text-align: center;
    text-decoration: none;
    font-size: 52px;
}

h2 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: center;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

main {
    background-color: F6F0ED;
}
