/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #2980b9;
}




/* Navigation links */
.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}




/* Subnav button */
.subnav .subnavbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}




/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #5DADE2;
}




/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #2980b9;
  width: 25%;
  z-index: 1;
}




/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #5DADE2;
  color: #5DADE2;
}




/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}


.hometitle1, .hometitle2 {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  float: center;
  text-align: center;
  margin-right: 300px;
}


h1, h2, h3, p {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 300px;
  margin-right: 300px;
}


hr {
  color:#5DADE2;
  margin-left: 300px;
  margin-right: 300px;
}


.about_me_hr{
  margin-left:0px;
  margin-right:0px;
}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
}


body::before {
  content: "";
  background-image: url('./images/kratos.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 70%;
  pointer-events: none;
}


hr {
  border-radius: 3;
}


.link__text {
  position: relative;
  display: inline-block;
  padding: .6rem;
  color: inherit;
  text-decoration: none;
}


li {
  list-style-type: circle;
  margin: 0;
  padding: 0;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-left: 300px;
}


.link__text {
  background-color: #2980b9;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.link__text a {
  color: white;
}


.link__text2 {
  background-color: #2980b9;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.project1headings {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  float: center;
  font-size: 40px;
}


.project1secondheadings {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 300px;
  font-size: 25px;
}


.project1title {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}


.final__links {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 300px;  
}


.link__repo {
  height: 32px;
  width: 32px;
  transition: all .3s;
}


.link__repo {
  margin-left: 300px;
  margin-right: 400px;
  transition: all .3s;
  border: none;
}


.link__repo:hover {
  transform: scale(1.3);
}

 .requirementheaderlist {
  list-style-type: circle;
  padding: 0px;
  font-weight: bold;
}


.paragraphunderline {
  text-decoration: underline;
}


.implicationsli {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 300px;  
  font-size: 16px;
}


.project1developmenttitle {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}


.project1developmentp {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 750px;
  
}

.right-text {
  display: inline-block;
  vertical-align: middle;
}

.placeholderimg {
  width: 250px;
  height: 250px;
  margin-left: 300px;
}






